<div>
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title="Спецификация контейнера"></rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>CMD</td>
            <td><code ng-if="service.Command">{{ service.Command|command }}</code></td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Команда для выполнения.
              </p>
            </td>
          </tr>
          <tr>
            <td>Аргументы</td>
            <td><code ng-if="service.Arguments">{{ service.Arguments }}</code></td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Аргументы передаются команде в контейнер.
              </p>
            </td>
          </tr>
          <tr>
            <td>Пользователь</td>
            <td>{{ service.User }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Имя пользователя или UID.
              </p>
            </td>
          </tr>
          <tr>
            <td>Рабочая директория</td>
            <td>{{ service.Dir }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Рабочаяя директория внутри контейнера.
              </p>
            </td>
          </tr>
          <tr>
            <td>Прекратить льготный период</td>
            <td>{{ service.StopGracePeriod }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Время ожидания перед убийством контейнера (по умолчанию none).
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
  </rd-widget>
</div>
