<div id="service-container-labels">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Метки агента">
      <div class="nopadding">
        <a class="btn btn-default btn-sm pull-right" ng-click="isUpdating ||addContainerLabel(service)" ng-disabled="isUpdating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Метки агента
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="service.ServiceContainerLabels.length === 0">
      <p>Для этого сервиса нет меток агента</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.ServiceContainerLabels.length > 0" classes="no-padding">
      <table class="table" >
        <thead>
          <tr>
            <th>Метка</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="label in service.ServiceContainerLabels">
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">имя</span>
                <input type="text" class="form-control" ng-model="label.key" placeholder="e.g. com.example.foo" ng-change="updateContainerLabel(service, label)" ng-disabled="isUpdating">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">значение</span>
                <input type="text" class="form-control" ng-model="label.value" placeholder="e.g. bar" ng-change="updateContainerLabel(service, label)" ng-disabled="isUpdating">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-danger" type="button" ng-click="removeContainerLabel(service, $index)" ng-disabled="isUpdating">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['ServiceContainerLabels'])" ng-click="updateService(service)">Применить изменения</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['ServiceContainerLabels'])">Сбросить измения</a></li>
            <li><a ng-click="cancelChanges(service)">Сбросить все измения</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
