<div ng-if="service.EnvironmentVariables" id="service-env-variables">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Переменные окружения">
      <div class="nopadding">
        <a class="btn btn-default btn-sm pull-right" ng-click="isUpdating ||addEnvironmentVariable(service)" ng-disabled="isUpdating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> переменные окружения
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="service.EnvironmentVariables.length === 0">
      <p>Для этой службы нет переменных окружения.</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.EnvironmentVariables.length > 0" classes="no-padding">
      <table class="table" >
        <thead>
          <tr>
            <th>Имя</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="var in service.EnvironmentVariables">
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">имя</span>
                <input type="text" class="form-control" ng-model="var.key" ng-disabled="var.added || isUpdating" placeholder="e.g. FOO">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">значение</span>
                <input type="text" class="form-control" ng-model="var.value" ng-change="updateEnvironmentVariable(service, var)" placeholder="e.g. bar" ng-disabled="isUpdating">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-danger" type="button" ng-click="removeEnvironmentVariable(service, $index)" ng-disabled="isUpdating">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['EnvironmentVariables'])" ng-click="updateService(service)">Применить изменения</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['EnvironmentVariables'])">Сбросить изменения</a></li>
            <li><a ng-click="cancelChanges(service)">Сбросить все изменения</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
