<div>
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Открытые порты">
      <div class="nopadding">
        <a class="btn btn-default btn-sm pull-right" ng-click="isUpdating ||addPublishedPort(service)" ng-disabled="isUpdating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> карта портов
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="!service.Ports || service.Ports.length === 0">
      <p>Эта служба не имеет открытых портов.</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.Ports && service.Ports.length > 0" classes="no-padding">
      <table class="table" >
        <thead>
          <tr>
            <th>Порт хоста</th>
            <th>Порт агента</th>
            <th>Протокол</th>
            <th>Открытый режим</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="portBinding in service.Ports">
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon">хост</span>
                <input type="number" class="form-control" ng-model="portBinding.PublishedPort" placeholder="e.g. 8080" ng-change="updatePublishedPort(service, mapping)" ng-disabled="isUpdating">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon">агент</span>
                <input type="number" class="form-control" ng-model="portBinding.TargetPort" placeholder="e.g. 80" ng-change="updatePublishedPort(service, mapping)" ng-disabled="isUpdating">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <select class="selectpicker form-control" ng-model="portBinding.Protocol" ng-change="updatePublishedPort(service, mapping)" ng-disabled="isUpdating">
                  <option value="tcp">tcp</option>
                  <option value="udp">udp</option>
                </select>
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <select class="selectpicker form-control" ng-model="portBinding.PublishMode" ng-change="updatePublishedPort(service, mapping)" ng-disabled="isUpdating">
                  <option value="ingress">вход</option>
                  <option value="host">хост</option>
                </select>
              </div>
            </td>
            <td>
              <span class="input-group-btn">
                <button class="btn btn-sm btn-danger" type="button" ng-click="removePortPublishedBinding(service, $index)" ng-disabled="isUpdating">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['Ports'])" ng-click="updateService(service)">Применить изменения</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['Ports'])">Сбросить изменения</a></li>
            <li><a ng-click="cancelChanges(service)">Сбросить все изменения</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
