<div id="service-restart-policy">
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title="Политика перезагрузки">
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>Состояние перезагрузки</td>
            <td>
              <div class="input-group input-group-sm">
                <select class="selectpicker form-control" ng-model="service.RestartCondition" ng-change="updateServiceAttribute(service, 'RestartCondition')" ng-disabled="isUpdating">
                  <option value="none">None</option>
                  <option value="on-failure">При отказе</option>
                  <option value="any">Любые</option>
                </select>
              </div>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Условие для перезапуска.
              </p>
            </td>
          </tr>
          <tr>
            <td>Задержка перезапуска</td>
            <td>
              <input class="input-sm" type="number" ng-model="service.RestartDelay" ng-change="updateServiceAttribute(service, 'RestartDelay')" ng-disabled="isUpdating"/>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Задержка между попытками перезапуска. Время в секундах.
              </p>
            </td>
          </tr>
          <tr>
            <td>Максимальные попытки перезапуска</td>
            <td>
              <input class="input-sm" type="number" ng-model="service.RestartMaxAttempts" ng-change="updateServiceAttribute(service, 'RestartMaxAttempts')" ng-disabled="isUpdating"/>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Максимальные попытки перезапуска данного агента перед отказом (значение по умолчанию равно 0, которое игнорируется).
              </p>
            </td>
          </tr>
          <tr>
            <td>Restart window</td>
            <td>
              <input class="input-sm" type="number" ng-model="service.RestartWindow" ng-change="updateServiceAttribute(service, 'RestartWindow')" ng-disabled="isUpdating"/>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                Временное окно, используемое для оценки политики перезапуска (значение по умолчанию равно 0, что является неограниченным).
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['RestartCondition', 'RestartDelay', 'RestartMaxAttempts', 'RestartWindow'])" ng-click="updateService(service)">Применить изменения</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['RestartCondition', 'RestartDelay', 'RestartMaxAttempts', 'RestartWindow'])">Сбросить изменения</a></li>
            <li><a ng-click="cancelChanges(service)">Сбросить все изменения</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
