<div ng-if="applicationState.endpoint.apiVersion >= 1.25" id="service-secrets">
  <rd-widget>
    <rd-widget-header icon="fa-tasks" title="Секреты">
    </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <div class="form-inline" style="padding: 10px;">
        Добавить секрет:
        <select class="form-control" ng-options="secret.Name for secret in secrets" ng-model="newSecret">
          <option selected disabled hidden value="">выбрать секрет</option>
        </select>
        <a class="btn btn-default btn-sm" ng-click="addSecret(service, newSecret)">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> добавить секрет
        </a>
      </div>
      <table class="table" style="margin-top: 5px;">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Имя файла</th>
            <th>UID</th>
            <th>GID</th>
            <th>Режим</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="secret in service.ServiceSecrets">
            <td><a ui-sref="secret({id: secret.Id})">{{ secret.Name }}</a></td>
            <td>{{ secret.FileName }}</td>
            <td>{{ secret.Uid }}</td>
            <td>{{ secret.Gid }}</td>
            <td>{{ secret.Mode }}</td>
            <td>
              <button class="btn btn-xs btn-danger pull-right" type="button" ng-click="removeSecret(service, $index)" ng-disabled="isUpdating">
                <i class="fa fa-trash" aria-hidden="true"></i> Удалить секрет
              </button>
            </td>
          </tr>
          <tr ng-if="service.ServiceSecrets.length === 0">
            <td colspan="6" class="text-center text-muted">Никаких секретов, связанных с этои сервисом.</td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['ServiceSecrets'])" ng-click="updateService(service)">Применить изменения</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['ServiceSecrets'])">Сбросить изменения</a></li>
            <li><a ng-click="cancelChanges(service)">Сбросить все изменения</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
