<rd-header>
  <rd-header-title title="Детали обслуживания">
    <a data-toggle="tooltip" title="Обновление" ui-sref="service({id: service.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="services">Сервисы</a> > <a ui-sref="service({id: service.Id})">{{ service.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div ng-if="isUpdating" class="col-lg-12 col-md-12 col-xs-12">
    <div class="alert alert-info" role="alert" id="service-update-alert">
      <p>Этот сервис обновляется. Редактирование этой службы в настоящее время отключено.</p>
      <a ui-sref="service({id: service.Id}, {reload: true})">Обновить, чтобы увидеть, если этот сервис закончит обновляться.</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-9">
    <rd-widget>
      <rd-widget-header icon="fa-list-alt" title="Детали обслуживания"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Имя</td>
              <td ng-if="applicationState.endpoint.apiVersion <= 1.24">
                <input type="text" class="form-control" ng-model="service.Name" ng-change="updateServiceAttribute(service, 'Name')" ng-disabled="isUpdating">
              </td>
              <td ng-if="applicationState.endpoint.apiVersion >= 1.25">
                {{ service.Name }}
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ service.Id }}
                <button class="btn btn-xs btn-danger" ng-click="removeService()"><i class="fa fa-trash space-right" aria-hidden="true" ng-disabled="isUpdating"></i>Удалить этот сервис</button>
              </td>
            </tr>
            <tr ng-if="service.CreatedAt">
              <td>Создан в</td>
              <td>{{ service.CreatedAt|getisodate}}</td>
            </tr>
            <tr ng-if="service.UpdatedAt">
              <td>Последнее обновление</td>
              <td>{{ service.UpdatedAt|getisodate }}</td>
            </tr>
            <tr ng-if="service.Version">
              <td>Версия</td>
              <td>{{ service.Version }}</td>
            </tr>
            <tr>
              <td>Режим расписания</td>
              <td>{{ service.Mode }}</td>
            </tr>
            <tr ng-if="service.Mode === 'replicated'">
              <td>Реплики</td>
              <td>
                <span ng-if="service.Mode === 'replicated'">
                  <input class="input-sm" type="number" ng-model="service.Replicas" ng-change="updateServiceAttribute(service, 'Replicas')" ng-disabled="isUpdating" />
                </span>
              </td>
            </tr>
            <tr>
              <td>Образ</td>
              <td>
                <input type="text" class="form-control" ng-model="service.Image" ng-change="updateServiceAttribute(service, 'Image')" ng-disabled="isUpdating" />
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
      <rd-widget-footer>
        <p class="small text-muted">
          Просмотр документации обслуживания Docker <a href="https://docs.docker.com/engine/reference/commandline/service_update/" target="self">здесь</a>.
        </p>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-disabled="!hasChanges(service, ['Mode', 'Replicas', 'Image', 'Name'])" ng-click="updateService(service)">Применить изменения</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="cancelChanges(service, ['Mode', 'Replicas', 'Image', 'Name'])">Сбросить изменения</a></li>
              <li><a ng-click="cancelChanges(service)">Сбросить все изменения</a></li>
            </ul>
          </div>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>

  <div class="col-lg-3 col-md-3 col-xs-3">
    <rd-widget>
      <rd-widget-header icon="fa-bars" title="Быстрая навигация"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href ng-click="goToItem('service-env-variables')">Переменные окружения</a></li>
          <li><a href ng-click="goToItem('service-container-labels')">Метки контейнера</a></li>
          <li><a href ng-click="goToItem('service-mounts')">Точки монтирования</a></li>
          <li><a href ng-click="goToItem('service-network-specs')">Сеть и открытые порты</a></li>
          <li><a href ng-click="goToItem('service-resources')">Ограничения и резервирование ресурсов</a></li>
          <li><a href ng-click="goToItem('service-placement-constraints')">Ограничения места размещения</a></li>
          <li><a href ng-click="goToItem('service-restart-policy')">Политика перезагрузки</a></li>
          <li><a href ng-click="goToItem('service-update-config')">Параметры обновления</a></li>
          <li><a href ng-click="goToItem('service-labels')">Сервисные метки</a></li>
          <li><a href ng-click="goToItem('service-secrets')">Секреты</a></li>
          <li><a href ng-click="goToItem('service-tasks')">Задания</a></li>
        </ul>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div ng-include="'app/components/common/accessControlPanel/accessControlPanel.html'" ng-if="service && applicationState.application.authentication"></div>

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="container-specs">Спецификация контейнера</h3>
    <div id="service-container-spec" class="padding-top" ng-include="'app/components/service/includes/container-specs.html'"></div>
    <div id="service-env-variables" class="padding-top" ng-include="'app/components/service/includes/environmentvariables.html'"></div>
    <div id="service-container-labels" class="padding-top" ng-include="'app/components/service/includes/containerlabels.html'"></div>
    <div id="service-mounts" class="padding-top" ng-include="'app/components/service/includes/mounts.html'"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-network-specs">Сеть и порты</h3>
    <div id="service-networks" class="padding-top" ng-include="'app/components/service/includes/networks.html'"></div>
    <div id="service-published-ports" class="padding-top" ng-include="'app/components/service/includes/ports.html'"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-specs">Техническая спецификация</h3>
    <div id="service-resources" class="padding-top" ng-include="'app/components/service/includes/resources.html'"></div>
    <div id="service-placement-constraints" class="padding-top" ng-include="'app/components/service/includes/constraints.html'"></div>
    <div id="service-restart-policy" class="padding-top" ng-include="'app/components/service/includes/restart.html'"></div>
    <div id="service-update-config" class="padding-top" ng-include="'app/components/service/includes/updateconfig.html'"></div>
    <div id="service-labels" class="padding-top" ng-include="'app/components/service/includes/servicelabels.html'"></div>
    <div id="service-secrets" class="padding-top" ng-include="'app/components/service/includes/secrets.html'"></div>
    <div id="service-tasks" class="padding-top" ng-include="'app/components/service/includes/tasks.html'"></div>
  </div>
</div>
