<div class="row" ng-controller="AccessControlPanelController">
  <div class="col-sm-12" ng-if="state.displayAccessControlPanel">
    <rd-widget>
      <rd-widget-header icon="fa-eye" title="Контроль доступа"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <!-- ownership -->
            <tr>
              <td>Владение</td>
              <td>
                <i ng-class="resourceControl.Ownership | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                <span ng-if="!resourceControl">
                  public
                  <portainer-tooltip message="Этот ресурс может управляться любым пользователем, имеющим доступ к этому узлу." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </span>
                <span ng-if="resourceControl">
                  {{ resourceControl.Ownership }}
                  <portainer-tooltip ng-if="resourceControl.Ownership === 'administrators'" message="Этот ресурс может управляться только администраторами." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                  <portainer-tooltip ng-if="resourceControl.Ownership === 'private'" message="Управление этим ресурсом ограничено одним пользователем." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                  <portainer-tooltip ng-if="resourceControl.Ownership === 'restricted'" message="Этот ресурс может управляться ограниченным набором пользователей и/или команд." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </span>
              </td>
            </tr>
            <!-- !ownership -->
            <tr ng-if="resourceControl.Type === 2 && resourceType === 'container'">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                Контроль доступа на этом ресурсе наследуется от следующей службы: <a ui-sref="service({ id: resourceControl.ResourceId })">{{ resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="Контроль доступа, применяемый к службе, также применяется к каждому агенту этой службы." position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <tr ng-if="resourceControl.Type === 1 && resourceType === 'volume'">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                Контроль доступа на этом ресурсе наследуется от следующего агента: <a ui-sref="container({ id: resourceControl.ResourceId })">{{ resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="Контроль доступа применяется на агента, созданный с использованием шаблона применяется также на каждом томе, связанные в агент." position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <!-- authorized-users -->
            <tr ng-if="resourceControl.UserAccesses.length > 0">
              <td>Авторизованные пользователи</td>
              <td>
                <span ng-repeat="user in authorizedUsers">{{user.Username}}{{$last ? '' : ', '}} </span>
              </td>
            </tr>
            <!-- !authorized-users -->
            <!-- authorized-teams -->
            <tr ng-if="resourceControl.TeamAccesses.length > 0">
              <td>Авторизованные команды</td>
              <td>
                <span ng-repeat="team in authorizedTeams">{{team.Name}}{{$last ? '' : ', '}} </span>
              </td>
            </tr>
            <!-- !authorized-teams -->
            <!-- edit-ownership -->
            <tr ng-if="!(resourceControl.Type === 1 && resourceType === 'volume') && !(resourceControl.Type === 2 && resourceType === 'container') && !state.editOwnership && (isAdmin || state.canEditOwnership)">
              <td colspan="2">
                <a class="btn-outline-secondary" ng-click="state.editOwnership = true"><i class="fa fa-edit space-right" aria-hidden="true"></i>Смена права собственности</a>
              </td>
            </tr>
            <!-- !edit-ownership -->
            <!-- edit-ownership-choices -->
            <tr ng-if="state.editOwnership">
              <td colspan="2">
                <div class="boxselector_wrapper">
                  <div ng-if="isAdmin">
                    <input type="radio" id="access_administrators" ng-model="formValues.Ownership" value="administrators">
                    <label for="access_administrators">
                      <div class="boxselector_header">
                        <i ng-class="'administrators' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Администраторы
                      </div>
                      <p>Я хочу ограничить управление этим ресурсом только для администраторов</p>
                    </label>
                  </div>
                  <div ng-if="isAdmin">
                    <input type="radio" id="access_restricted" ng-model="formValues.Ownership" value="restricted">
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Restricted
                      </div>
                      <p>
                        Я хочу ограничить руководство этого ресурса для пользователей и/или групп
                      </p>
                    </label>
                  </div>
                  <div ng-if="!isAdmin && state.canChangeOwnershipToTeam && availableTeams.length > 0">
                    <input type="radio" id="access_restricted" ng-model="formValues.Ownership" value="restricted">
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Ограниченный
                      </div>
                      <p ng-if="availableTeams.length === 1">
                        Я хочу, чтобы любой член моей команды (<b>{{ availableTeams[0].Name }}</b>) мог управлять этим ресурсом
                      </p>
                      <p ng-if="availableTeams.length > 1">
                        Я хочу ограничить управление этим ресурсом одной или несколькими моими командами
                      </p>
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="access_public" ng-model="formValues.Ownership" value="public">
                    <label for="access_public">
                      <div class="boxselector_header">
                        <i ng-class="'public' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Public
                      </div>
                      <p>Я хочу, чтобы любой пользователь, имеющий доступ к этому узлу, мог управлять этим ресурсом</p>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <!-- edit-ownership-choices -->
            <!-- select-teams -->
            <tr ng-if="state.editOwnership && formValues.Ownership === 'restricted' && (isAdmin || !isAdmin && availableTeams.length > 1)">
              <td colspan="2">
                <span>Teams</span>
                <span ng-if="isAdmin && availableTeams.length === 0" class="small text-muted" style="margin-left: 10px;">
                  Вы еще не создали команды. Глава над  <a ui-sref="teams">командами</a> для управления пользовательскими командами.</span>
                </span>
                <span isteven-multi-select
                  ng-if="(isAdmin && availableTeams.length > 0) || (!isAdmin && availableTeams.length > 1)"
                  input-model="availableTeams"
                  output-model="formValues.Ownership_Teams"
                  button-label="Name"
                  item-label="Name"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Name"
                  max-labels="3"
                  translation="{nothingSelected: 'Select one or more teams', search: 'Search...'}"
                </span>
              </td>
            </tr>
            <!-- !select-teams -->
            <!-- select-users -->
            <tr ng-if="isAdmin && state.editOwnership && formValues.Ownership === 'restricted'">
              <td colspan="2">
                <span>Users</span>
                <span ng-if="availableUsers.length === 0" class="small text-muted" style="margin-left: 10px;">
                  Вы еще не создали каких-либо пользователей. Глава над <a ui-sref="users">пользователями</a> для управления пользователями.</span>
                </span>
                <span isteven-multi-select
                  ng-if="availableUsers.length > 0"
                  input-model="availableUsers"
                  output-model="formValues.Ownership_Users"
                  button-label="Username"
                  item-label="Username"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Username"
                  max-labels="3"
                  translation="{nothingSelected: 'Select one or more users', search: 'Search...'}"
                </span>
              </td>
            </tr>
            <!-- !select-users -->
            <!-- ownership-actions -->
            <tr ng-if="state.editOwnership">
              <td colspan="2">
                <div>
                  <a type="button" class="btn btn-default btn-sm" ng-click="state.editOwnership = false">Отмена</a>
                  <a type="button" class="btn btn-primary btn-sm" ng-click="confirmUpdateOwnership()">Обновить право собственности</a>
                  <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
                </div>
              </td>
            </tr>
            <!-- !ownership-actions -->
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
