<rd-header>
  <rd-header-title title="Обзор системы">
    <a data-toggle="tooltip" title="Обновление" ui-sref="docker" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>Docker</rd-header-content>
</rd-header>

<div class="row" ng-if="info && version">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-code" title="Версия системы"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Версия</td>
              <td>{{ version.Version }}</td>
            </tr>
            <tr>
              <td>Версия API</td>
              <td>{{ version.ApiVersion }}</td>
            </tr>
            <tr>
              <td>Версия Go</td>
              <td>{{ version.GoVersion }}</td>
            </tr>
            <tr>
              <td>Тип ОС</td>
              <td>{{ version.Os }}</td>
            </tr>
            <tr>
              <td>ОС</td>
              <td>{{ info.OperatingSystem }}</td>
            </tr>
            <tr>
              <td>Архитектура</td>
              <td>{{ version.Arch }}</td>
            </tr>
            <tr>
              <td>Версия Kernel</td>
              <td>{{ version.KernelVersion }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="info && version">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-th" title="Статус системы"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Максимальный CPU</td>
              <td>{{ info.NCPU }}</td>
            </tr>
            <tr>
              <td>Максимальная память</td>
              <td>{{ info.MemTotal|humansize }}</td>
            </tr>
            <tr>
              <td>Корневой каталог Docker</td>
              <td>{{ info.DockerRootDir }}</td>
            </tr>
            <tr>
              <td>Драйвер хранилища</td>
              <td>{{ info.Driver }}</td>
            </tr>
            <tr>
              <td>Драйвер регистрации</td>
              <td>{{ info.LoggingDriver }}</td>
            </tr>
            <tr ng-if="info.CgroupDriver">
              <td>Драйвер Cgroup</td>
              <td>{{ info.CgroupDriver }}</td>
            </tr>
            <tr ng-if="info.ExecutionDriver">
              <td>Драйвер выполнения</td>
              <td>{{ info.ExecutionDriver }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="info && info.Plugins">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-plug" title="Плагины системы"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr ng-if="info.Plugins.Volume">
              <td>Том</td>
              <td>{{ info.Plugins.Volume|arraytostr: ', '}}</td>
            </tr>
            <tr ng-if="info.Plugins.Network">
              <td>Сеть</td>
              <td>{{ info.Plugins.Network|arraytostr: ', '}}</td>
            </tr>
            <tr ng-if="info.Plugins.Authorization">
              <td>Авторизация</td>
              <td>{{ info.Plugins.Authorization|arraytostr: ', '}}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
